{% extends "news/base.html" %}
{% block content %}
	<div class="container">
	{% if user.is_authenticated %}
		<p style="color:red;">Что-бы зарегистрироваться, нужно выйти из аккаунта!</p>
	{% else %}
		<h1>Регистрация</h1>
		<small>{{form.username.errors}}</small>
		<small>{{form.email.errors}}</small>
		<small>{{form.password2.errors}}</small>
		<form method="post">
			{% csrf_token %}
			<div class="input-element">
				<p>Имя пользователя <br><small>Придумай себе ник в игре*</small></p>
				<input type="text" placeholder="Логин" name="username" maxlength="150" required="" class="js_username" id="id_username" value="{{ form.username.value}}">
				<i class="fa fa-user"></i>
			</div><br>
			<div class="input-element">
				<p>Ваше имя <br><small>Обязательное поле*</small></p>
				<input type="text" placeholder="Имя" name="first_name" maxlength="150" required="" id="id_first_name" value="{{ form.first_name.value}}">
				<i class="fas fa-id-card-alt"></i>
			</div><br>
			<div class="input-element">
				<p>Ваша фамилия <br><small>Обязательное поле*</small></p>
				<input type="text" placeholder="Фамилия" name="last_name" maxlength="150" required="" id="id_last_name" value="{{ form.last_name.value}}">
				<i class="fas fa-id-card-alt"></i>
			</div><br>
			<div class="input-element">
				<p>Ваша почта <br><small>Для подтверждения пользователя*</small></p>
				<input type="email" placeholder="Почта" name="email" maxlength="150" required="" id="id_email" value="{{ form.email.value}}">
				<i class="fas fa-at"></i>
			</div><br>
			<div class="input-element">
				<p>Ваш пароль <br><small>Придумай себе пароль*</small></p>
				<input type="password" placeholder="Пароль" name="password1" maxlength="150" required="" id="id_password1">
				<div class="fa">•••</div>
			</div><br>
			<div class="input-element">
				<p>Подтвердите пароль <br><small>Введите, пожалуйста, пароль ещё раз.</small></p>
				<input type="password" placeholder="Подтвердите пароль" name="password2" maxlength="150" required="" id="id_password2">
				<div class="fa">•••</div>
			</div><br>
			<div class="input-element">
				<p id="check_pass" style="display:none; color:red;">Пароли не совпадают!</p>
			</div>
			<div class="g-recaptcha" data-sitekey="{{ google_key }}"></div>
			<input type="submit" class="reg-btn fade" id="reg-btn" value="Зарегистрироваться">
		</form>
		<input type="submit" class="reg-btn fade" id="reg-btn-err" style="display:none;" onclick='swal({title: "Ошибка!", icon: "error",})' value="Зарегистрироваться">
	{% endif %}
	</div>
{% endblock %}


{% block JavaScript %}
	<script type="text/javascript">
		function checkPasswordMatch() {
			var password = $("#id_password1").val();
			var confirmPassword = $("#id_password2").val();
			if (password != confirmPassword) {
				if (password=="" || confirmPassword=="") {
					$("p#check_pass").slideUp();
					$("#id_password1").removeClass("red-input");
					$("#id_password2").removeClass("red-input");
					$("#reg-btn").show();
					$("#reg-btn-err").hide();
				} else {
					$("p#check_pass").slideDown();
					$("#id_password1").addClass("red-input");
					$("#id_password2").addClass("red-input");
					$("#reg-btn").hide();
					$("#reg-btn-err").show();
				}
			} else {
				$("p#check_pass").slideUp();
				$("#id_password1").removeClass("red-input");
				$("#id_password2").removeClass("red-input");
				$("#reg-btn").show();
				$("#reg-btn-err").hide();
			}
		}
		$(document).ready(function () {
			$("#id_password1, #id_password2").keyup(checkPasswordMatch);
		});
	</script>
	<script type="text/javascript">
    $(".js_username").keyup(function () {
      var form = $(this).closest("form");
      $.ajax({
        url: "{% url 'validate_username' %}",
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            $(".js_username").addClass("red-input");
			$(".js_username").removeClass("green-input");
          } else {
			$(".js_username").removeClass("red-input");
			$(".js_username").addClass("green-input");
		  }
        }
      });

    });
  </script>
  <script id="input-js">
	$('input[value^="None"]').val('');
	$('#input-js').remove();
  </script>
{% endblock %}