{% extends 'news/base.html' %}

{% block content %}
<div class="container">
	<h1>Авторизация</h1>
		{% if form.errors %}
			<script type="text/javascript">
				swal({
					icon: "error",
					text: "Логин или пароль не совпадают! Попробуйте заного",
					closeOnClickOutside: false,
				});
			</script>
			<p style="color:red;">Логин или пароль не совпадают! Попробуйте заного.</p>
		{% endif %}
			<form method="post" action="{% url 'login' %}">
				{% csrf_token %}
				<div class="form-group">
					<input type="login" name="username" class="form-control" placeholder="Имя пользователя " maxlength="25" required="" id="id_username">
					<i class="fa fa-user"></i>
				</div>
				<div class="form-group log-status">
					<input type="password" name="password" class="form-control" placeholder="Пароль " required="" id="id_password">
					<i class="fa fa-lock"></i>
				</div>
				<p class="link"><a href="{% url 'password_reset' %}">Забыли пароль?</a><span class="info" data-tooltip="Забыли пароль? Нажимайте сюда!">?</span></p>
				<input type="submit" class="auth-btn fade" value="Вход">
			</form>
</div>
{% endblock %}