{% extends "news/base.html" %}
{% block content %}
<div class="container">
  <h1 style="text-transform:none;">Восстановление пароля</h1>
	<form action="" method="post">
		{% csrf_token %}
		<div class="input-element">
			<p>Почта <br><small>Введи свою почту</small></p>
			<input type="email" name="email" maxlength="254" placeholder="Ваша почта" required="" id="id_email">
			<i class="fas fa-at"></i>
		</div><br>
		<input type="submit" class="reg-btn fade" value="Поменять пароль">
	</form>
</div>
{% endblock %}