{% extends "news/base.html" %}

{% block content %}
<div class="container">
    {% if validlink %}
	<h1 style="text-transform:none;">Восстановление пароля.</h1>
		<form action="" method="post">
			{% csrf_token %}
			<div class="input-element">
				<p>Ваш пароль <br><small>Придумай себе новый пароль*</small></p>
				<input type="password" placeholder="Новый пароль" name="new_password1" maxlength="150" required="" id="id_new_password1">
				<div class="fa">•••</div>
			</div><br>
			<div class="input-element">
				<p>Подтвердите пароль <br><small>Подтверди пароль*</small></p>
				<input type="password" placeholder="Подтвердите пароль" name="new_password2" maxlength="150" required="" id="id_new_password2">
				<div class="fa">•••</div>
			</div>
			<div class="input-element">
				<p id="check_pass" style="display:none; color:red;">Пароли не совпадают!</p>
			</div>
			<input type="submit" class="reg-btn fade" id="reg-btn" value="Поменять пароль">
        </form>
		<input type="submit" class="reg-btn fade" id="reg-btn-err" style="display:none;" onclick='swal({title: "Ошибка!", icon: "error",})' value="Поменять пароль">
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
</div>
{% endblock %}


{% block JavaScript %}
	<script type="text/javascript">
		function checkPasswordMatch() {
			var password = $("#id_new_password1").val();
			var confirmPassword = $("#id_new_password2").val();
			if (password != confirmPassword) {
				if (password=="" || confirmPassword=="") {
					$("p#check_pass").slideUp();
					$("#id_new_password1").removeClass("red-input");
					$("#id_new_password2").removeClass("red-input");
					$("#reg-btn").show();
					$("#reg-btn-err").hide();
				} else {
					$("p#check_pass").slideDown();
					$("#id_new_password1").addClass("red-input");
					$("#id_new_password2").addClass("red-input");
					$("#reg-btn").hide();
					$("#reg-btn-err").show();
				}
			} else {
				$("p#check_pass").slideUp();
				$("#id_new_password1").removeClass("red-input");
				$("#id_new_password2").removeClass("red-input");
				$("#reg-btn").show();
				$("#reg-btn-err").hide();
			}
		}
		$(document).ready(function () {
			$("#id_new_password1, #id_new_password2").keyup(checkPasswordMatch);
		});
</script>
{% endblock %}