{% extends "news/base.html" %}
{% block content %}
<div class="reg-container">
  <h6 id="reg-header">Восстановление пароля</h6>
  <div class="reg-form">
		<form action="" method="post"><input type="hidden" name="csrfmiddlewaretoken" value="5xNs86IBgTh53IHNY4HXMkXNpd171JVKC5fgAEp41jIK0ni5AA4WCd4DZj7eGcrL">
			
				<p><input type="email" name="email" maxlength="254" class="reg-url" placeholder="Ваша почта" required="" id="id_email"></p> 
			<p class="form-submit">
				<input type="submit" id="reg-submit" value="Поменять пароль">
			</p>
		</form>
  </div>
  </div>
{% endblock %}