{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8"/>
    <title>Сайтик</title>
    <link rel='stylesheet' id='reset-css' href="{% static '/css/css/reset.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='superfish-css' href="{% static 'css/css/superfish.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='fontawsome-css' href="{% static 'css/css/font-awsome/css/font-awesome.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='orbit-css-css' href="{% static 'css/css/orbit.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='style-css' href="{% static 'css/css/style.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='color-scheme-css' href="{% static 'css/css/color/green.css' %}" type='text/css' media='all' />
    <link rel="stylesheet" href="{% static 'css/css/zerogrid.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'css/css/responsive.css' %}" type="text/css" media="screen">
    <script href="{% static 'js/ajax.js' %}"></script>
    <script type="text/javascript" href="{% static 'js/mediaqueries.js' %}"></script>
</head>
<body class="home blog">
    <!-- Start Header -->
    <div class="container zerogrid">
        <div class="col-full">
            <div class="wrap-col">
                <div id="header-nav-container">

                    <a href="/">
                        <img src="{% static 'images/log3.png' %}" width="271px" height="52px" id="logo" />
                    </a>

                    <!-- Navigation Menu -->

                    <ul class="sf-menu">
                        <li class="menu-item"><a href="/">Главная</a></li>
                        <li class="menu-item"><a href="blog.html">Форум(Не работает)</a></li>
                        <li class="menu-item"><a href="{% url 'about'%}">О нас</a></li>
						{% if user.is_authenticated %}
						{% else %}
						<li class="menu-item"><a href="{% url 'signup' %}">Регистрация</a></li>
						{% endif %}
                    </ul>
                    <!-- End Navigation Menu -->

                    <div class="clear"></div>

                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="spacing-30"></div>
    <div class="container zerogrid">

        <!-- Start Posts Container -->
        <div class="col-2-3" id="post-container">
            <div class="wrap-col">
                <!-- End Post Item -->
                <!-- Start Post Item -->
                {% block content %}
                {% endblock %}
                <!-- End Post Item -->

                <div class="clear"></div>
            </div>
        </div>
        <!-- End Posts Container -->
        <!-- Start Sidebar -->
        <div class="col-1-3">
            <div class="wrap-col">
                {% if user.is_authenticated %}
				    <div id="login-form">
						<h1> {{ user.get_username }}</h1>
						<fieldset>
							<p><a type="submit" href="{% url 'logout'%}?next={{request.path}}">Выйти</a></p>
						</fieldset>
					</div>
				{% else %}
					
						<div id="login-form">
						  <h1>Авторизация</h1>
 						 <form method="post" action="{% url 'login' %}">
 						 {% csrf_token %}
 						 <fieldset>
  						  <input type="login" name="username" placeholder="Логин" autofocus="" maxlength="254" required="" id="id_username">
					      <br/>
  						  <input type="password" name="password" placeholder="Пароль" required="" id="id_password">

  						<div></br>
						  {# Assumes you setup the password_reset view in your URLconf #}
 						  <p><span class="info">?</span><a href="{% url 'password_reset' %}">Забыли пароль?</a><input type="submit" value="Вход" /></p>
						  
 						</div>
  						</form>
 						</fieldset>
 						 
  						</footer>
						</div> 
				{% endif %} 
				</ul>
                    <div class="clear"></div>
            </div>
			
			<div class="clear"></div>
        </div>
    </div>        <!-- End Sidebar -->

    <div class="clear"></div>
    </div>
    <!-- End Main Container -->
    <!-- Start Footer -->
    <div class="spacing-30"></div>
    <div class="container zerogrid">
		<!-- Footer Logo -->
		<img src="{% static 'images/footer-log3.png' %}" height="73" width="73" id="footer-logo" />
		<!-- End Footer Logo -->
        <div id="footer-container" class="col-full">
            <div class="wrap-col">
                <!-- Footer Copyright -->
                <p>Copyrigh &copy; 2017. Все права защищены.</p>
                <!-- End Footer Copyright -->
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- End Footer -->

</body>
</html>