{% extends 'news/main_base.html' %}

{% block main %}

	<!-- zerogrid -->

	<div class="zerogrid">
	<div class="right">
		<!-- Login-Form -->
			{% if user.is_authenticated %}
			<div class="element">
				<div class="profile-small">
					<fieldset class="profile-small">
						<div class="contanier">
							<img src="{{ user.profile.avatar.url }}" class="profile-small-avatar">
							<div class="overlay">
								<a href="{% url 'edit_profile' %}" class="icon">
									<i class="fa fa-cog"></i>
								</a>
							</div>
						</div>
						<div class="profile-small-head">
							<p><i class="fa fa-user"></i>{{ user.get_username }}</p>
							<a href="{% url 'profile'%}" class='profile-link-lk'>Личный кабинет</a>
						</div>
					    {% if user.profile.email_confirmed is True %} {% else %}<p style="color:red;">Подтвердите вашу почту</p> {% endif %}
						<p><a type="submit" href="{% url 'logout'%}?next={{request.path}}">Выйти</a></p>
					</fieldset>
				</div>
			</div>
			{% else %}
			<div class="element">
				<div id="login-form">
					<div id="log-head" class="fade" style="display:block;">
						<h1>Авторизация</h1>
						<small> Нажми на меня) </small>
					</div>
					<div id="log-head" style="display:none;">
						<h1>Авторизация</h1>
					</div>
					<fieldset style="display: none;" id="box">
						<br>
						<form method="post" action="{% url 'login' %}">
							{% csrf_token %}
							<div class="form-group ">
								<input type="hidden" name="path" id="path" value="{{ request.path }}">
								<input type="login" name="username" class="form-control" placeholder="Имя пользователя " maxlength="25" required="" id="id_username">
								<i class="fa fa-user"></i>
							</div>
							<div class="form-group log-status">
								<input type="password" name="password" class="form-control" placeholder="Пароль " required="" id="id_password">
								<div class="change-password fa" style="font-size:15px;"  id="toggle_password_button" data-tooltip="Показать пароль" onclick="toggle_password('id_password',true)">•••</div>
							</div>
							<p class="link"><a href="{% url 'password_reset' %}">Забыли пароль?</a><span class="info" data-tooltip="Забыли пароль? Нажимайте сюда!">?</span></p>
							<input type="submit" class="auth-btn fade" value="Вход">
						</form>
						<br>
					</fieldset>		
				</div>
		</div>
		<div class="element">
			<div class="reg-link fade">
				<h1><a href="{% url 'signup' %}">Регистрация</a></h1>
				<small>Еще не с нами? Скорее регистрируйся!</small>
			</div>
		</div>
		{% endif %} 
		
		<!-- End Login-Form -->
		
	</div>
	
	{% if messages %}
		<div style="width: 620px;">
			<ul class="post" style="padding: 5px;">
				{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	{% block content %}
	{% endblock %}
	</div>
{% endblock %}