{% extends 'forum/base.html' %}

{% block content %}
{% load poll_extras %}
	<div class="forum">
		<a class="back" href="{% url 'forum'%}"><i class="fa fa-chevron-circle-left"></i> Назад</a>
	    <div class="forum-block-head">
			<p>Проверка форум тем</p>
			<small>Раздел для администрации*</small>
		</div>
		<div class="forum-block">
			<br>
			{% for post in posts %}
			  {% if post.checked == False %}
				<div class="forum-list-post">
					<div class="forum-subblock-author">
						<img class="forum-subblock-author-avatar" src="{{ post.get_user_avatar }}">
						<small>Создан: {{ post.author }}</small>
						<small>От: {{ post.created_date|date:"j E Y" }}</small>
					</div>
					<i class="forum-i fa fa-thumbtack" style="padding-left: 13px; padding-right: 13px"></i>
					{% if post.active == False %}<i class="fa fa-lock">{% endif %}</i><a href="{% url 'forum_post_detail' pk=post.pk %}"> {{ post.title }} </a>
					<br>
					<small>Комментариев: {{ post.comments.filter.count }}</small>
					<br>
					<small>Просмотров: {{ post.views|split:" "|length }}</small>
				</div>
			  {% endif %}
			{% endfor %}

		</div>
	</div>
{% endblock %}