{% extends 'forum/base.html' %}

{% block content %}
	<div class="forum">
		{% for block in blocks %}
			<div class="forum-block">
				<div class="forum-block-title">
					<p>{{ block.title }}</p>
					<small>{{ block.small }}</small>
				</div>
				{% for subblock in block.subblock.filter %}
					<div class="forum-subblock">
						<i class="forum-i far fa-comments"></i>
						<a href="{% url 'block' pk=subblock.pk %}"> {{ subblock.title }} </a>
						<br>
						<small>Тем: {{ subblock.post.filter.count }}</small>
					</div>
				{% endfor %}
			</div>
		{% endfor %}
		<p id="online"></p>
		<a class="forum-block-btncheck" href="{% url 'check' %}">Проверка</a>
	</div>
{% endblock %}