@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,600,700);
/* Font Formats 
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

body{
	font-family: 'Open Sans', sans-serif;
	padding-top:30px;
	padding-bottom:30px;
	}

h1,h2,h3,h4,h5,h6{ font-family: 'Montserrat', sans-serif; text-transform:uppercase; font-weight:700; line-height:1.4em; color:#555555; }
h1{ font-size:35px; }
h2{ font-size:33px; }
h3{ font-size:30px; }
h4{ font-size:28px; }
h5{ font-size:25px; }
h6{ font-size:20px; }

p{ font-size:16px; line-height:1.7em; color:#555555; margin-bottom:20px; }

a{ color:#444444; text-decoration:none; }
a:hover{ color:#2980b9; }

.clear{ clear: both; }
.wrapper{ width:100%; }

.first{ margin-left:0px; }
.last{ margin-right:0px; }

/* ================================================== */
/* Spacer */
/* ================================================== */
.spacing-10{ height:10px; width:100%; }
.spacing-20{ height:20px; width:100%; }
.spacing-30{ height:30px; width:100%; }
.spacing-40{ height:40px; width:100%; }
.spacing-50{ height:50px; width:100%; }
.spacing-60{ height:60px; width:100%; }
.spacing-70{ height:70px; width:100%; }
.spacing-80{ height:80px; width:100%; }
.spacing-90{ height:90px; width:100%; }
.spacing-100{ height:100px; width:100%; }

/* ================================================== */
/* Header */
/* ================================================== */
#header-nav-container{
	background:#343434;
	}
#logo{ margin-left:15px; }


/* Posts */
.post{
	background:#FFFFFF;
	margin-bottom:40px;
	border-radius: 8px 8px 8px 8px;
	}
.post .post-margin{ padding-left:8%; padding-right:8%; padding-top:5%; padding-bottom:2%; }
.post .post-title{ margin-bottom:5px; color:#44547773; }

.post-status li{ float:left; margin-right:10px; font-size:14px; color:#AAAAAA; }
.post-status li:last-child{ margin-right:0px; }
.post-status a{ color:#999999; }
.post-status i{ margin-right:5px; }

.post-avatar{ height:70px; width:70px; float:left; margin-right:20px; }
.post-avatar .avatar-frame{ background:url(../images/post-avatar.png) no-repeat; height:70px; width:70px; position:absolute; }

.post .readmore{ text-transform:uppercase; font-weight:700; }
.post .post-social .readmore{ background:#2980b9; padding-left:20px; padding-right:20px; }
.post .post-social .readmore:hover{ background:#343434; }
.post .readmore i{ font-size:14px; margin-left:3px; }

.post .post-social{ float:right; }
.post .post-social li:first-child a{ padding-left:16px; padding-right:16px; }
.post .post-social li{ float:left; font-size:14px; }
.post .post-social a{ background:#343434; color:#FFFFFF; padding:10px; padding-left:13px; padding-right:13px; display:inline-block }
.post .post-social a:hover{ background:#2980b9; }

/* Post Icon and Video */
.post .featured-image{ width:100%; height:350px; }
.post .featured-image img{ width:100%; height:350px; }
.post .featured-image iframe{ width:100%; height:343px; }

.post .post-icon{ width:80px; height:80px; position:relative; bottom:40px; margin:0 auto; z-index:9999999 }
.post-icon .fa-stack{ height:80px; width:80px; font-size:40px; }
.post-icon .fa-picture-o{ font-size:30px; }
.post-icon .fa-circle{ color:#FFFFFF; }
.post-icon .fa-inverse{ color:#2980b9; }

/* Next And Previous Post thumbnails */
#post-nav{ width:100%; position:fixed; top:50%; z-index:99999; }
#post-nav a{ font-size:13px; color:#FFFFFF; line-height:1.2em; }

#post-nav .post-pagination{
	padding:10px;
	width:210px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	}

#post-nav .post-previous{
	background:#343434 url(../images/left-post.png) center right 10px no-repeat;
	float:left;
	padding-right:20px;
	text-align:left;
	position:absolute;
	left:-210px;
	opacity:0.2;
	}
#post-nav .post-previous:hover{ left:0px; background:#343434 url(../images/left-post.png) center left 5px no-repeat; padding-left:30px; opacity:1; }

#post-nav .post-next{
	background:#343434 url(../images/right-post.png) center left 10px no-repeat;
	float:right;
	padding-left:20px;
	text-align:right;
	position:absolute;
	right:-210px;
	opacity:0.2;
	}
#post-nav .post-next:hover{ right:0px; background:#343434 url(../images/right-post.png) center right 5px no-repeat; padding-right:30px; opacity:1 }

#post-nav .post-prev-thumb{ float:left; margin-right:10px; height:50px; width:50px; }
#post-nav .post-next-thumb{ float:right; margin-left:10px; height:50px; width:50px; }




/* Comments */
.reg-container{ background:#FFFFFF; padding-top:30px; padding-bottom:30px; border-radius: 8px 8px 8px 8px; }
#reg-header{ text-align:center; margin-bottom:40px; padding-bottom:30px; border-bottom:1px solid #EEEEEE; }
.reg-list{ margin-left:40px; margin-right:40px; }

.reg-header{overflow:hidden; margin-bottom:5px; font-size:14px; font-weight:700 }
.reg-header a{ color:#2980b9; }
.reg-header a:hover{ color:#343434; }
.reg-text{ overflow:hidden; }
.reg-text p{ font-size:14px; }
.reply-link{ text-transform:uppercase; font-size:14px; font-weight:700; }

.avatar-mask{ height:70px; width:70px; background:url(../images/post-avatar.png); position:absolute }
.avatar-container{ float:left; margin-right:20px; }

.reg-list .children{ margin-left:80px; margin-top:40px; }
.reg-list li{ margin-bottom:60px; }

/* Comment Form */
.reg-form{ margin-left:20px; margin-right:20px; } 
.reg-form small {
	color: #C0C0C0;
	font-size: 14px;
    }

.reg-email, .reg-name, .reg-url{ width:50%; padding:13px; margin-bottom:0px; outline:none; background:#EEEEEE; border:none; }

#reg-submit{ background:#343434; border:none; color:#FFFFFF; font-weight:700; text-transform:capitalize; font-size:14px; padding:10px; cursor:pointer }
#reg-submit:hover{ background:#2980b9; }

#reg-form {
	margin: 0px ;
	margin-left: 0;
	width: 280px;
	background-color: #1E90FF;
	border-radius: 6px 6px 6px 6px;
	padding: 20px;
	text-align: center;
    }

#reg-form h1 {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
    }

#reg-form a {
	color: #fff;
    }

#reg-form small {
	color: #D3D3D3;
	font-size: 10px;
    }

#cancel-reg-reply-link{ font-size:14px; }
.logged-in-as{ font-size:14px; }
.logged-in-as a{ color:#2980b9; }

/* Footer */
#footer-container{ background:#343434; padding-top:20px; }
#footer-container p{ color:#FFFFFF; font-size:14px; float:left; margin-left:15px; }
#footer-logo{ float:right; margin-right:15px; }


#cancel-comment-reply-link{ font-size:14px; }
.logged-in-as{ font-size:14px; }
.logged-in-as a{ color:#2980b9; }

/* Footer */
#footer-container{ background:#343434; padding-top:20px; }
#footer-container p{ color:#FFFFFF; font-size:14px; float:left; margin-left:15px; }
#footer-logo{ float:right; margin-right:15px; }

.reply-link{ text-transform:uppercase; font-size:14px; font-weight:700; }

/* Comment Form */
.commen-form{ margin-left:40px; margin-right:40px; } 
.commen-form p{ padding-bottom:20px; padding-top:20px; text-align: center;}
.comment-email, .comment-name, .comment-url{ overflow:hidden; width:50%; padding:10px; margin-bottom:30px; outline:none; background:#EEEEEE; border:none; }
.comment-text-area{ overflow:hidden; width:95%; height:200px; margin-bottom:10px; padding:10px; outline:none; background:#EEEEEE; border:none }
#comment-submit{ background:#343434; border:none; color:#FFFFFF; font-weight:700; margin-bottom:20px; text-transform:capitalize; font-size:14px; padding:10px; cursor:pointer }
#comment-submit:hover{ background:#2980b9; }

.comment{
	background:#FFFFFF;
	margin-bottom:40px;
	border-radius: 8px 8px 8px 8px;
	}
.comment .comment-margin{ padding-left:8%; padding-right:8%; padding-top:3%; padding-bottom:0%; }
.comment h4{ font-size:22px; }


#login-form {
	margin: 0px ;
	margin-left: 0;
	width: 280px;
    }

#login-form h1 {
	background-color: #FF8C00;
	border-radius: 6px 6px 2px 2px;
	color: #fff;
	font-size: 18px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
    }

#login-form fieldset {
	background: #fff;
	border-radius: 0px 0px 8px 8px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
	position: relative;
    }

#login-form fieldset:before {
	background-color: #fff;
	content: "";
	height: 8px;
	left: 50%;
	margin: -4px 0 0 -4px;
	position: absolute;
	top: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 8px;
    }

#login-form footer {
	font-size: 12px;
	margin-top: 16px;
    }


	/* login */

.info {
	background: #e5e5e5;
	border-radius: 50%;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin: 0 10px 0 0;
	text-align: center;
	width: 20px;
}

.link {
  text-decoration: none;
  color: #C6C6C6;
  float: right;
  font-size: 12px;
  margin-bottom: 15px;
}
.link:hover {
  text-decoration: underline;
  color: #8C918F;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: arial;
}



.login-form {
  width: 350px;
  padding: 40px 30px;
  background: #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-group {
  position: relative;
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  height: 50px;
  border: none;
  padding: 5px 7px 5px 15px;
  background: #fff;
  color: #666;
  border: 2px solid #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.form-control:focus, .form-control:focus + .fa {
  border-color: #10CE88;
  color: #10CE88;
}

.form-group .fa {
  position: absolute;
  right: 15px;
  top: 17px;
  color: #999;
}

.log-btn {
  background: #0AC986;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  height: 50px;
  color: #fff;
  text-decoration: none;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.profile-contanier{ background:#FFFFFF; padding-top:30px; padding-bottom:30px; border-radius: 8px 8px 8px 8px; padding-left:8%; padding-right:8%; padding-top:5%; padding-bottom:5%; }
#profile-header{ text-align:center; margin-bottom:40px; padding-bottom:30px; border-bottom:1px solid #EEEEEE; }

.profile-contanier label {
	width: 10px;
}

.profile-header{overflow:hidden; margin-bottom:10px; font-size:14px; font-weight:700 }
.profile-header a{ color:#2980b9; }
.profile-header a:hover{ color:#343434; }


/* Comment Form */
.profile-form{ margin-left:20px; margin-right:20px; } 
.profile-form small {
	color: #C0C0C0;
	font-size: 14px;
    }


.profile-submit{ background:#343434; border:none; color:#FFFFFF; font-weight:700; border-radius: 8px 8px 8px 8px; text-transform:capitalize; font-size:14px; padding:10px; cursor:pointer }
.profile-submit:hover{ background:#2980b9; }
	

.profile-avatar{ height:70px; width:70px; float:left; margin-right:20px; border-radius: 30px; }
#avatar-block {
	background-color: #D3D3D3;
	border-radius: 8px 8px 8px 8px;
	padding: 10px;
	padding-bottom: 20px;
	margin-bottom:20px;
}

.profile-email, .profile-name, .profile-pass{ width:50%; padding:13px; margin-left:10px; margin-bottom:0px; outline:none; background:#EEEEEE; border:none; border-radius: 8px 8px 8px 8px; }


.message-contanier{ background:#FFFFFF; padding-top:30px; padding-bottom:30px; border-radius: 8px 8px 8px 8px; padding-left:8%; padding-right:8%; padding-bottom:5%; }

.swal-overlay {
  background-color: rgba(128, 0, 0, 0.45);
}
