{% extends "news/base.html" %}
{% block content %}
<div class="profile-contanier">
	<h6 id="profile-header">Смена пароля</h6>
	<div class="profile-form">
		<small>
			<ul>
				<li>* Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</li>
				<li>* Ваш пароль должен содержать как минимум 8 символов.</li>
				<li>* Ваш пароль не может быть одним из широко распространённых паролей.</li>
				<li>* Ваш пароль не может состоять только из цифр.</li>
			</ul>
		</small>
		<br>
		<form method="post">
			{% csrf_token %}
			<label for="id_old_password">Старый пароль:</label><input type="password" name="old_password" placeholder="Старый пароль" class="profile-pass" autofocus="" required="" id="id_old_password">
			<br><br>
			<label for="id_new_password1">Новый пароль:</label><input type="password" name="new_password1" placeholder="Новый пароль" class="profile-pass" required="" id="id_new_password1">
			<br><br>
			<label for="id_new_password2">Подтвердите пароль:</label><input type="password" name="new_password2" placeholder="Подтвердите пароль" class="profile-pass" required="" id="id_new_password2">
			<br><br>
			<input type="submit" class="profile-submit" value="Поменять пароль"/>
		</form>
	</div>
</div>
{% endblock %}