{% extends "news/base.html" %}
{% load avatar_tags %}
{% block content %}
  <div class="profile-contanier">
  {% if user.is_authenticated %}
	<h6 id="profile-header">Личный кабинет</h6>
	<div class="profile-form">
		<div id="avatar-block">
			{% avatar request.user class="profile-avatar" %}
			<p style="color: black; font-weight: bold;">{{ request.user.get_username }}</p>
			<a><span id="avatar-set" onclick="avatar(); return false;">Сменить аватар</span></a>
			<div id='avatar-set-div' style='display: none;'>
				{% if user.profile.email_confirmed is True %}
					<form enctype="multipart/form-data" method="POST" action="/avatar/add/">
						{% csrf_token %}
						<input type="file" name="avatar" required="" id="id_avatar">
						<input type="submit" value="Поменять">
					</form>
				{% else %}
					<span style="color:red;">Подтвердите вашу почту</span> 
				{% endif %}
			</div>
		</div>
		<a href="/change_password">Поменять пароль</a>
	</div>
  {% else %}
  <h6 id="profile-header">Профиль доступен только авторизированным пользователям</h6>
  {% endif %} 
  </div>
  <script>
  function avatar(){
    document.getElementById('avatar-set').style.display='none';
	document.getElementById('avatar-set-div').style.display='block';
  }
  </script>
{% endblock %}