{% extends "news/base.html" %}
{% block content %}
<div class="container">
	<h1 id="profile-header">Смена пароля</h1>
	<small>
		<ul>
			<li>* Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</li>
			<li>* Ваш пароль должен содержать как минимум 8 символов.</li>
			<li>* Ваш пароль не может быть одним из широко распространённых паролей.</li>
			<li>* Ваш пароль не может состоять только из цифр.</li>
		</ul>
	</small>
	<form method="post">
		{% csrf_token %}
		<div class="input-element" style="margin-top:0;">
			<p>Старый пароль: <br><small>Введи свой старый пароль</small></p>
			<input type="password" placeholder="Старый пароль" name="old_password" maxlength="150" required="" id="id_old_password">
			<div class="fa">•••</div>
		</div><br>
		<div class="input-element">
			<p>Ваш пароль <br><small>Придумай себе новый пароль*</small></p>
			<input type="password" placeholder="Новый пароль" name="new_password1" maxlength="150" required="" id="id_new_password1">
			<div class="fa">•••</div>
		</div><br>
		<div class="input-element">
			<p>Подтвердите пароль <br><small>Подтверди пароль*</small></p>
			<input type="password" placeholder="Подтвердите пароль" name="new_password2" maxlength="150" required="" id="id_new_password2">
			<div class="fa">•••</div>
		</div>
		<div class="input-element">
			<p id="check_pass" style="display:none; color:red;">Пароли не совпадают!</p>
		</div>
		
		<input type="submit" class="reg-btn fade" id="reg-btn" value="Поменять пароль">
	</form>
	<input type="submit" class="reg-btn fade" id="reg-btn-err" style="display:none;" onclick='swal({title: "Ошибка!", icon: "error",})' value="Поменять пароль">
</div>
{% endblock %}


{% block JavaScript %}
	<script type="text/javascript">
		function checkPasswordMatch() {
			var password = $("#id_new_password1").val();
			var confirmPassword = $("#id_new_password2").val();
			if (password != confirmPassword) {
				if (password=="" || confirmPassword=="") {
					$("p#check_pass").slideUp();
					$("#id_new_password1").removeClass("red-input");
					$("#id_new_password2").removeClass("red-input");
					$("#reg-btn").show();
					$("#reg-btn-err").hide();
				} else {
					$("p#check_pass").slideDown();
					$("#id_new_password1").addClass("red-input");
					$("#id_new_password2").addClass("red-input");
					$("#reg-btn").hide();
					$("#reg-btn-err").show();
				}
			} else {
				$("p#check_pass").slideUp();
				$("#id_new_password1").removeClass("red-input");
				$("#id_new_password2").removeClass("red-input");
				$("#reg-btn").show();
				$("#reg-btn-err").hide();
			}
		}
		$(document).ready(function () {
			$("#id_new_password1, #id_new_password2").keyup(checkPasswordMatch);
		});
</script>
{% endblock %}