{% extends "news/base.html" %}
{% block content %}
	<div class="userprofile">
		<div class="left-block">
			<img src="{{ user.profile.avatar.url }}" class="profile-avatar">
			<p style="font-weight: bold; letter-spacing: 0.7px;">{{ userprofile.username }}</p>	
			<br>
			<p>Репутация: {{ userprofile.profile.rep }}</p>
		</div>
		<div class="left-block" style="background-color: #573b41; padding-top: 3%;">
			<p><i style="margin-left: 3px; margin-right: 12px;" class="fa fa-calendar-alt"></i>{{ userprofile.date_joined }}<br><small>Дата регистрации</small></p>
			<br>
			<p><i class="far fa-clock"></i>{{ userprofile.profile.get_online }}<br><small>Последний онлайн</small></p>
		</div>
	</div>
{% endblock %}